.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(177, 177, 229);
    color: black;
}
header logo{
    width: 100px;
}
header logo img{
    width: 100px;
    height: auto;
}
header.collegename{
    text-align: center;
    
}
.table{
    margin-left: 30%;
    
}

.footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: 320px;
    font-size: 14px;
}
